.button {
    padding: 8px 12px;
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.button:disabled {
    opacity: 0.5;
}

.button:enabled:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:disabled:hover {
    cursor: not-allowed;
}

.button:enabled:active {
    box-shadow: 2px 2px 5px var(--color-primary);
}